$primary: #ff6f61;
$primaryHover: #EF5350;
$secondary: #1DB954;
$secondaryHover: #1ED760;
$success: #9CCC65;
$failure: #EF5350;
$warning: #FFEE58;
$orange: #F6C255;
$black: #3C3C3C;
$gray: #787878;
$lightGray: #A0A0A0;
$border: #DCDCDC;
$disabled: #E6E6E6;
$whiteBackground: #FAFAFA;
$grayBackground: #F5F5F5;
$footerBackground: #797979;
$white: #FFFFFF;
$boxShadow: 0 15px 15px rgba(0, 0, 0, 0.05);
$boxShadowHover: 0 15px 20px rgba(0, 0, 0, 0.1);
